BERNA ORUÇ

In [ ]:
library(tidyverse)
library(tidyr)

In [ ]:
data(infert)
str(infert)
head(infert)

In [3]:
##Make a select operation of columns, select()
## I will select the variables that I may use in the following steps

In [4]:
infert %>% select(education,age, parity,stratum)

    education age parity stratum
1   0-5yrs    26  6       1
2   0-5yrs    42  1       2
3   0-5yrs    39  6       3
4   0-5yrs    34  4       4
5   6-11yrs   35  3       5
6   6-11yrs   36  4       6
7   6-11yrs   23  1       7
8   6-11yrs   32  2       8
9   6-11yrs   21  1       9
10  6-11yrs   28  2      10
11  6-11yrs   29  2      11
12  6-11yrs   37  4      12
13  6-11yrs   31  1      13
14  6-11yrs   29  3      14
15  6-11yrs   31  2      15
16  6-11yrs   27  2      16
17  6-11yrs   30  5      17
18  6-11yrs   26  1      18
19  6-11yrs   25  3      19
20  6-11yrs   44  1      20
21  6-11yrs   40  1      21
22  6-11yrs   35  2      22
23  6-11yrs   28  2      23
24  6-11yrs   36  1      24
25  6-11yrs   27  2      25
26  6-11yrs   40  2      26
27  6-11yrs   38  2      27
28  6-11yrs   34  3      28
29  6-11yrs   28  4      29
30  6-11yrs   30  4      30
⋮   ⋮         ⋮   ⋮      ⋮
219 12+ yrs   28  1      54
220 12+ yrs   29  2      55
221 12+ yrs   36  2      56
222 12+ yrs   28  2      57
223 12+ yrs   28  2      58
224 12+ yrs   28  1      59
225 12+ yrs   27  2      60
226 12+ yrs   35  2      61
227 12+ yrs   25  1      62
228 12+ yrs   34  1      63
229 12+ yrs   31  2      64
230 12+ yrs   26  2      65
231 12+ yrs   32  1      66
232 12+ yrs   21  1      67
233 12+ yrs   28  3      68
234 12+ yrs   37  3      69
235 12+ yrs   25  1      70
236 12+ yrs   32  1      71
237 12+ yrs   25  1      72
238 12+ yrs   31  1      73
239 12+ yrs   38  6      74
240 12+ yrs   26  2      75
241 12+ yrs   31  1      76
242 12+ yrs   31  2      77
243 12+ yrs   25  1      78
244 12+ yrs   31  1      79
245 12+ yrs   34  1      80
246 12+ yrs   35  2      81
247 12+ yrs   29  1      82
248 12+ yrs   23  1      83

In [5]:
##Make a filter operation of rows, filter()
##I filter women with 12+ years education and age between 25 to 30.

In [6]:
infert %>%
    filter(education =="12+ yrs" & age %in% c(25:30))

   education age parity induced case spontaneous stratum pooled.stratum
1  12+ yrs   30  1      0       1    0           45      44
2  12+ yrs   28  2      0       1    2           47      51
3  12+ yrs   27  4      2       1    0           48      61
4  12+ yrs   26  2      2       1    0           49      49
5  12+ yrs   27  3      1       1    1           53      57
6  12+ yrs   28  1      0       1    1           54      42
7  12+ yrs   29  2      0       1    2           55      52
8  12+ yrs   28  2      1       1    0           57      51
9  12+ yrs   28  2      0       1    2           58      51
10 12+ yrs   28  1      0       1    1           59      42
11 12+ yrs   27  2      0       1    2           60      50
12 12+ yrs   25  1      0       1    1           62      41
13 12+ yrs   26  2      1       1    0           65      49
14 12+ yrs   28  3      1       1    2           68      58
15 12+ yrs   25  1      1       1    0           70      41
16 12+ yrs   25  1      0       1    1           72      41
17 12+ yrs   26  2      0       1    2           75      49
18 12+ yrs   25  1      1       1    0           78      41
19 12+ yrs   29  1      0       1    1           82      43
20 12+ yrs   30  1      1       0    0           45      44
21 12+ yrs   28  2      1       0    0           47      51
22 12+ yrs   27  4      2       0    1           48      61
23 12+ yrs   26  2      1       0    0           49      49
24 12+ yrs   27  3      1       0    1           53      57
25 12+ yrs   28  1      1       0    0           54      42
26 12+ yrs   29  2      1       0    0           55      52
27 12+ yrs   28  2      1       0    1           57      51
28 12+ yrs   28  2      2       0    0           58      51
29 12+ yrs   28  1      1       0    0           59      42
30 12+ yrs   27  2      1       0    0           60      50
31 12+ yrs   25  1      1       0    0           62      41
32 12+ yrs   26  2      0       0    1           65      49
33 12+ yrs   28  3      2       0    0           68      58
34 12+ yrs   25  1      0       0    0           70      41
35 12+ yrs   25  1      0       0    0           72      41
36 12+ yrs   26  2      0       0    2           75      49
37 12+ yrs   25  1      0       0    0           78      41
38 12+ yrs   29  1      0       0    1           82      43
39 12+ yrs   30  1      0       0    0           45      44
40 12+ yrs   28  2      1       0    0           47      51
41 12+ yrs   27  4      2       0    0           48      61
42 12+ yrs   26  2      1       0    0           49      49
43 12+ yrs   27  3      2       0    0           53      57
44 12+ yrs   28  1      0       0    1           54      42
45 12+ yrs   29  2      1       0    1           55      52
46 12+ yrs   28  2      2       0    0           57      51
47 12+ yrs   28  2      1       0    0           58      51
48 12+ yrs   28  1      0       0    0           59      42
49 12+ yrs   27  2      1       0    0           60      50
50 12+ yrs   25  1      1       0    0           62      41
51 12+ yrs   26  2      0       0    2           65      49
52 12+ yrs   28  3      2       0    0           68      58
53 12+ yrs   25  1      1       0    0           70      41
54 12+ yrs   25  1      1       0    0           72      41
55 12+ yrs   26  2      1       0    1           75      49
56 12+ yrs   25  1      0       0    1           78      41
57 12+ yrs   29  1      0       0    1           82      43

In [7]:
##Make a mutate operation to create a new column,  mutate()
## I will create a new column by using age variable, I will make 3 categories according to 1st and 3rd quartiles.

In [8]:
summary(infert$age)

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
  21.00   28.00   31.00   31.50   35.25   44.00

In [9]:
infert_1 <- infert %>%
    mutate(age_grp = ifelse(age <= 28, "young", 
                    ifelse(age > 28 & age <= 35, "middle age", "older")))
head(infert_1)

  education age parity induced case spontaneous stratum pooled.stratum
1 0-5yrs    26  6      1       1    2           1        3
2 0-5yrs    42  1      1       1    0           2        1
3 0-5yrs    39  6      2       1    0           3        4
4 0-5yrs    34  4      2       1    0           4        2
5 6-11yrs   35  3      1       1    1           5       32
6 6-11yrs   36  4      2       1    1           6       36
  age_grp
1 young
2 older
3 older
4 middle age
5 middle age
6 older

In [10]:
## Make a group_by and summarize operation , group_by() summarise()
## I want to see summarized table for average child owning for different age categories that I created.

In [11]:
infert_1 %>%
    group_by(age_grp) %>%
    summarise(child = mean(parity))

  age_grp    child
1 middle age 2.000000
2 older      2.370968
3 young      2.000000

In [12]:
##Make a pivot_wider operation
## I created a summarized table of average, minimum, and maximum child for different age groups, and education level.
## then I will create a pivot table education/age group to see the avg child owning distribution. -> see infert_at_wide

In [13]:
infert_2 <- infert_1 %>%
group_by(education, age_grp)%>%
select(education, age_grp, everything())%>%
summarise(avg_child= round(mean(parity),1),
          max_child=max(parity),
          min_child=min(parity))
infert_2

`summarise()` has grouped output by 'education'. You can override using the
`.groups` argument.

  education age_grp    avg_child max_child min_child
1 0-5yrs    middle age 4.0       4         4
2 0-5yrs    older      3.5       6         1
3 0-5yrs    young      6.0       6         6
4 6-11yrs   middle age 2.4       5         1
5 6-11yrs   older      1.8       4         1
6 6-11yrs   young      1.9       4         1
7 12+ yrs   middle age 1.4       2         1
8 12+ yrs   older      3.2       6         1
9 12+ yrs   young      1.8       4         1

In [14]:
infert_at_wide <- infert_2 %>% pivot_wider(id_cols = education, names_from = age_grp, values_from = avg_child)
infert_at_wide

  education middle age older young
1 0-5yrs    4.0        3.5   6.0
2 6-11yrs   2.4        1.8   1.9
3 12+ yrs   1.4        3.2   1.8

In [15]:
##Make a pivot_longer operation
### I make a longer pivot table of average child for education vs. age group

In [16]:
infert_at_longer <- infert_at_wide %>% pivot_longer(cols = -"education",
                                                     names_to = "age_grp", 
                                                     values_to = "avg_child",
                                                     values_drop_na = T)
infert_at_longer

  education age_grp    avg_child
1 0-5yrs    middle age 4.0
2 0-5yrs    older      3.5
3 0-5yrs    young      6.0
4 6-11yrs   middle age 2.4
5 6-11yrs   older      1.8
6 6-11yrs   young      1.9
7 12+ yrs   middle age 1.4
8 12+ yrs   older      3.2
9 12+ yrs   young      1.8

In [17]:
##Make a left_join
##to do that I will create two sample data from my original dataset
## I joined the second data two first one on 3 columns = education, age_grp, and parity

In [ ]:
infert_s1 <- infert_1%>%
filter(education != "0-5yrs" & age_grp != "young")%>%
select(education, age_grp, parity )

infert_s2 <-  infert_1%>%
filter(education == "6-11yrs" & age_grp == "older")%>%
select(education, age_grp, spontaneous, parity)

infert_s1 %>% left_join(infert_s2, by = c("education", "age_grp", "parity"))